# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
binary_search_advanced/Step01_hedge
/.vs/PracticeWithPaiza/v17/Browse.VC.opendb
/.vs/PracticeWithPaiza/v17/Browse.VC.db
